.MemberPage {
  padding: 0;
  display: flex;
}
.MemberPage .MemberPage__Banner {
  width: 100%;
  height: 300px;
  /* background: linear-gradient(181deg, #4981b2, transparent); */

  /* background: linear-gradient(
    90deg,
    rgba(76, 175, 80, 1) 0%,
    rgba(49, 220, 255, 1) 100%
  ); */

  /* background: radial-gradient(
    circle at 50% 50%,
    rgba(76, 175, 80, 1) 0%,
    rgba(49, 220, 255, 1) 100%
  ); */

  /* border-bottom: 2px solid #9773a7;
  border-top: 2px solid #9773a7; */
  /*
  cadetblue
  darseegreen
  gainsboro
  #f8f2fa (magnolia)

  */
  background-color: #adbdc7;
  /* position: relative; */
  /* background-image: url(https://image.shutterstock.com/shutterstock/photos/1039471057/display_1500/stock-vector-abstract-vector-banners-with-bright-geometric-background-annual-report-design-templates-1039471057.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-size: 172%;
  background-position: -202px -119px;
}

.MemberPage .MemberPage__Main {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.MemberPage .MemberPage__Main .MemberPage__Content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  order: 1;
}

.MemberPage .MemberPage__Main .MemberPage__Content--Inner {
  margin: 1rem;
}

.MemberPage .MemberPage__Main .MemberPage__Sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  order: 0;
  position: static;
}

.MemberPage .MemberPage__Main .MemberPage__Sidebar--Inner {
  position: static;
  margin: -16.5rem 1rem 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media all and (min-width: 576px) {
  .MemberPage .MemberPage__Main .MemberPage__Sidebar--Inner {
    margin: -16rem 1rem 1rem;
  }
}

@media all and (min-width: 800px) {
  .MemberPage .MemberPage__Main {
    flex-direction: row;
    gap: 1rem;
  }
  .MemberPage .MemberPage__Main .MemberPage__Content {
    flex: 1.61;
    order: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .MemberPage .MemberPage__Main .MemberPage__Content--Inner {
    margin: 0.5rem 0 0 1rem;
  }

  .MemberPage .MemberPage__Main .MemberPage__Content .CommunityList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
  }

  .MemberPage .MemberPage__Main .MemberPage__Sidebar {
    flex-direction: column;
    flex: 1;
    order: 1;

    align-items: stretch;
  }

  .MemberPage .MemberPage__Main .MemberPage__Sidebar--Inner {
    margin: -15rem 1rem 1rem;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media all and (min-width: 930px) {
  .MemberPage .MemberPage__Main .MemberPage__Content .CommunityList {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
}
@media all and (min-width: 1024px) {
  .MemberPage .MemberPage__Main .MemberPage__Content--Inner {
    margin: 0.5rem 0 0 0.25rem;
  }

  .MemberPage .MemberPage__Main .MemberPage__Content .CommunityList {
    grid-template-columns: repeat(2, minmax(225px, 1fr));
    grid-gap: 1rem;
  }
}

/* ... */

@media all and (min-width: 1200px) {
  .MemberPage .MemberPage__Main .MemberPage__Content--Inner {
    margin: 0.5rem 0 0 1rem;
  }
  .MemberPage .MemberPage__Main .MemberPage__Content .CommunityList {
    grid-template-columns: repeat(2, minmax(225px, 1fr));
    grid-gap: 1rem;
  }
  .MemberPage .MemberPage__Main .MemberPage__Sidebar--Inner {
    margin: -14rem 1rem 1rem;
  }
}

@media all and (min-width: 1800px) {
  .MemberPage .MemberPage__Main .MemberPage__Content .CommunityList {
    grid-template-columns: repeat(3, minmax(225px, 1fr));
    grid-gap: 1rem;
  }
  .MemberPage .MemberPage__Main .MemberPage__Sidebar--Inner {
    margin: -13rem 1rem 1rem;
  }
}

@media all and (min-width: 2000px) {
  .MemberPage .MemberPage__Main .MemberPage__Sidebar--Inner {
    margin: -12rem 1rem 1rem;
  }
}
