.MemberPage {
  padding: 0;
  display: flex;
}
.MemberPage .MemberPage__Banner {
  width: 100%;
  height: 300px;
  /* background: linear-gradient(181deg, #4981b2, transparent); */

  /* background: linear-gradient(
    90deg,
    rgba(76, 175, 80, 1) 0%,
    rgba(49, 220, 255, 1) 100%
  ); */

  /* background: radial-gradient(
    circle at 50% 50%,
    rgba(76, 175, 80, 1) 0%,
    rgba(49, 220, 255, 1) 100%
  ); */

  /* border-bottom: 2px solid #9773a7;
  border-top: 2px solid #9773a7; */
  /*
  cadetblue
  darseegreen
  gainsboro
  #f8f2fa (magnolia)

  */
  background-color: #adbdc7;
  position: relative;
  /* background-image: url(https://image.shutterstock.com/shutterstock/photos/1039471057/display_1500/stock-vector-abstract-vector-banners-with-bright-geometric-background-annual-report-design-templates-1039471057.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-size: 172%;
  background-position: -202px -119px;
}
.MemberPage .MemberPage__Banner .UserProfileCard {
  width: 250px;
  flex: 0 1 425px;
  position: absolute;
  right: 10%;
  top: 25%;
}

.MemberPage
  .MemberPage__Banner
  .UserProfileCard
  .User__ProfilePic-wrapper
  .User__ProfilePic {
  width: 200px;
  height: 200px;
}

.MemberPage .MemberPage__Banner .UserProfileCard .user__meta {
  flex: 200px;
}

.MemberPage .MemberPage__Main {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.MemberPage .MemberPage__Main .MemberPage__Content {
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  width: 75%;
  /* flex: 2; */
}
.MemberPage .MemberPage__Main .MemberPage__Content .CommunityList {
  width: 100%;
}
.MemberPage .MemberPage__Main .MemberPage__Sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  /* flex: 1; */
  padding-top: 10rem;
}

@media all and (min-width: 400px) {
}
