.MemberPage {
  padding: 0;
  display: flex;
}
.MemberPage .banner {
  width: 100%;
  height: 300px;
  background: linear-gradient(181deg, #4981b2, transparent);
  position: relative;
}
.MemberPage .UserProfileCard {
  width: 250px;
  flex: 0 1 425px;
  position: absolute;
  right: 10%;
  top: 25%;
}

.MemberPage .UserProfileCard .User__ProfilePic-wrapper .User__ProfilePic {
  width: 200px;
  height: 200px;
}
