.Form .DemoInfo {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 75%;
  align-self: center;
  align-items: center;
  border: 1px solid #5d7889;
  border-radius: 6px;
  margin-top: 0.25rem;
  padding: 1rem;
}

.Form .DemoInfo p {
  padding: 0.1rem 1rem;
  letter-spacing: 1px;
}
.Form .DemoInfo .DemoCrendentialsEntry {
  align-self: flex-start;
}
