.Form .DemoInfo {
  display: flex;

  width: 100%;
  min-width: fit-content;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 1rem;
  border: 1px solid #5d7889;
  margin-top: 0.25rem;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.Form .DemoInfo p {
  padding: 0.1rem 1rem;
  letter-spacing: 1px;
}

.Form .DemoInfo .DemoCrendentialsEntry {
  align-self: flex-start;
}

@media all and (min-width: 576px) {
  .Form .DemoInfo {
    width: 90%;
  }
}
