.Modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.Modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #fff;
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;

  border-radius: 6px;
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgb(0 0 0 / 30%);
}

.ModalPage__header {
  display: flex;
  line-height: 2;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  padding: 0.25rem 1rem;
  color: lightslategray;
  color: whitesmoke;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  background-color: #9773a7;
}

.ModalPage__headerCaption {
  font-size: 1.25rem;
  font-weight: lighter;
  letter-spacing: 3px;
  text-align: center;
}

.ModalPage__header .closeDlgAction {
  cursor: pointer;
  font-size: 2rem;
  display: flex;
}
.ModalPage__body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: auto;
  overflow: auto;
}

.ModalPage__body--inner {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

/* .ModalPage__body--inner.ModalFormPage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
} */

.ModalPage__footer {
  border-top: 1px solid #dad7d7;
  padding: 1rem;
  display: flex;
}

.ModalPage__footer .ModalActions {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

@media all and (min-width: 400px) {
  .ModalPage__headerCaption {
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin-left: 1rem;
  }
}

@media all and (min-width: 576px) {
  .ModalPage__headerCaption {
    font-size: 1.75rem;
    letter-spacing: 3px;
  }
}

@media all and (min-width: 768px) {
  .ModalPage__headerCaption {
    font-size: 1.75rem;
    letter-spacing: 4px;
  }
}

@media all and (min-width: 992px) {
  .ModalPage__headerCaption {
    font-size: 1.75rem;
    letter-spacing: 4px;
  }
}

@media all and (min-width: 1024px) {
  .ModalPage__headerCaption {
    /* font-size: 2rem;
    letter-spacing: 6px; */

    font-size: 1.75rem;
    letter-spacing: 4px;
  }
}
@media all and (min-width: 1200px) {
  .ModalPage__headerCaption {
    font-size: 2.25rem;
  }
}

@media all and (min-width: 1400px) {
  .ModalPage__headerCaption {
    font-size: 2.5rem;
  }
}
