.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 20%);
  -webkit-overflow-scrolling: touch;
}

.Modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #fff;

  border-radius: 6px;
  box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%),
    0 8px 16px -8px rgb(0 0 0 / 30%);
  color: var(--main-font-color);
  transform: translate(-50%, -50%);
}

.ModalPage__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;

  background-color: #9773a7;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: lightslategray;
  color: whitesmoke;

  font-size: 2rem;
  line-height: 2;
}

.ModalPage__headerCaption {
  font-size: 1.25rem;
  font-weight: lighter;
  letter-spacing: 3px;
  text-align: center;
}

.ModalPage__header .closeDlgAction {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
}

.ModalPage__body {
  display: flex;
  overflow: auto;
  flex: auto;
  align-items: flex-start;
  justify-content: flex-start;
}

.ModalPage__body--inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

/* .ModalPage__body--inner.ModalFormPage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
} */

.ModalPage__footer {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #dad7d7;
}

.ModalPage__footer .ModalActions {
  display: flex;
  margin-left: auto;
  gap: 1rem;
}

@media all and (min-width: 400px) {
  .ModalPage__headerCaption {
    margin-left: 1rem;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}

@media all and (min-width: 576px) {
  .ModalPage__headerCaption {
    font-size: 1.75rem;
    letter-spacing: 3px;
  }
}

@media all and (min-width: 768px) {
  .ModalPage__headerCaption {
    font-size: 1.75rem;
    letter-spacing: 4px;
  }

  .Modal__inner {
    width: 90%;
    height: 90%;
  }
}

@media all and (min-width: 992px) {
  .ModalPage__headerCaption {
    font-size: 1.75rem;
    letter-spacing: 4px;
  }
}

@media all and (min-width: 1024px) {
  .ModalPage__headerCaption {
    /* font-size: 2rem;
    letter-spacing: 6px; */

    font-size: 1.75rem;
    letter-spacing: 4px;
  }
}
@media all and (min-width: 1200px) {
  .ModalPage__headerCaption {
    font-size: 2.25rem;
  }
}

@media all and (min-width: 1400px) {
  .ModalPage__headerCaption {
    font-size: 2.5rem;
  }
}
