.no-flicker {
  backface-visibility: hidden;
  perspective: 1000;

  /* -webkit-transform: translate3d(0, 0, 0); */

  /* -webkit-transform-style: preserve-3d; */

  /* -webkit-backface-visibility: hidden; */

  /* backface-visibility: hidden; */

  /* -webkit-perspective: 1000; */

  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
}

.scalable {
  box-shadow: 0 6px 10px rgb(0 0 0 / 14%);

  /* transform: perspective(100px); */
  transform: perspective(100px) translateZ(-5px);
  transition: 0.3s ease-in-out;
}

.scalable:hover {
  box-shadow: 0 8px 40px rgb(0 0 0 / 25%);

  /* transform: perspective(100px) translateZ(5px); */
  transform: perspective(100px) translateZ(0);
}

.CommunityListItem {
  --community-list-item-font-color: #556e7e;
  --community-list-item-bg-color: whitesmoke;
  --community-list-item-border-color: #b5cfd8;
  --community-list-item-border-radius: 10px;
  position: relative;

  /* aspect-ratio: 3/2; */

  /* aspect-ratio: 5/8; */

  /* aspect-ratio: 16/9; */

  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  border: 2px solid var(--community-list-item-border-color);

  /* aspect-ratio: 1; */
  aspect-ratio: 4/3;
  background-color: var(--community-list-item-bg-color);
  border-radius: var(--community-list-item-border-radius);
  box-shadow: rgb(50 50 93 / 25%) 0 13px 27px -5px,
    rgb(0 0 0 / 30%) 0 8px 16px -8px;
  color: var(--community-list-item-font-color);
  cursor: pointer;
  text-align: center;

  /* transition: transform 0.3s ease; */
}

.CommunityListItem:hover {
  border: 2px solid #6e9ab8;
  box-shadow: rgb(50 50 93 / 25%) 0 18px 27px -5px,
    rgb(0 0 0 / 30%) 0 8px 16px -8px;
}

.CommunityListItem .Community__ProfilePic-wrapper {
  display: flex;
  flex: 5;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
}

.CommunityListItem .Community__ProfilePic-wrapper img {
  display: block;
  flex: 1 1 100%;
  object-fit: cover;
}

.CommunityListItem .community__meta {
  display: flex;
  flex: 1;
  flex-direction: column;

  /* padding: var(--r-spacing-md); */
  padding: 0.75rem 1rem;
  border-top: 2px solid transparent;
  background-color: var(--community-list-item-bg-color);
  gap: 0.5rem;
}

.CommunityListItem:hover .community__meta {
  /* filter: brightness(1.2); */
  border-top: 2px solid whitesmoke;
}

.CommunityListItem .community__meta .community__name {
  display: flex;
  min-width: 66.66%;
  max-width: 75%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  font-size: 1.2rem;

  font-weight: bold;
}

.CommunityListItem .community__meta .community__membersCount {
  font-size: 80%;
  font-weight: normal;
}

.CommunityListItem .community__meta .community__labels {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.CommunityListItem .community__meta .community__labels .community__owner {
  display: flex;
  font-size: 80%;
}

.CommunityListItem
  .community__meta
  .community__labels
  .community__owner
  .CommunityCreatorAvatar {
  width: 3rem;
  height: 3rem;
  border: 1px solid #7e919e;
}

.CommunityListItem .community__meta .community__labels .community__type {
  font-size: 1.2rem;
}

.CommunityListItem .community__actions {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: #c3d1dcdb;
  border-radius: 6px;
  gap: 0.5rem;
}

.CommunityListItem .community__actions a.community__action {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  background-color: whitesmoke;
  border-radius: 6px;
  color: lightslategray;
  font-size: 1.5rem;
}

/* COMMUNITY TYOE SPECIFIC STYLES */

.CommunityListItem.CommunityListItem--School .tag,
.CommunityListItem.CommunityListItem--Tenant .tag {
  background-color: var(--school-tag-bg-color);
  color: var(--school-tag-color);
}

.CommunityListItem.CommunityListItem--School:hover,
.CommunityListItem.CommunityListItem--Tenant:hover {
  border-color: var(--school-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--School:hover .community__meta,
.CommunityListItem.CommunityListItem--Tenant:hover .community__meta {
  background-color: var(--school-tag-bg-color);
  color: whitesmoke;
}

.CommunityListItem.CommunityListItem--School:hover
  .community__meta
  .community__labels
  .community__owner
  .CommunityCreatorAvatar,
.CommunityListItem.CommunityListItem--Tenant:hover
  .community__meta
  .community__labels
  .community__owner
  .CommunityCreatorAvatar {
  border-color: var(--school-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Class .tag {
  background-color: var(--class-tag-bg-color);
  color: var(--class-tag-color);
}

.CommunityListItem.CommunityListItem--Course .tag {
  background-color: var(--course-tag-bg-color);
  color: var(--course-tag-color);
}

.CommunityListItem.CommunityListItem--Custom .tag {
  background-color: var(--custom-tag-bg-color);
  color: var(--custom-tag-color);
}

.CommunityListItem.CommunityListItem--School:hover .tag,
.CommunityListItem.CommunityListItem--Tenant:hover .tag {
  background-color: var(--school-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Class:hover {
  border-color: var(--class-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Class:hover .community__meta {
  background-color: var(--class-tag-bg-color);
  color: whitesmoke;
}

.CommunityListItem.CommunityListItem--Class:hover
  .community__meta
  .community__labels
  .community__owner
  .CommunityCreatorAvatar {
  border-color: var(--class-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Class:hover .tag {
  background-color: var(--class-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Course:hover {
  border-color: var(--course-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Course:hover .community__meta {
  background-color: var(--course-tag-bg-color);
  color: whitesmoke;
}

.CommunityListItem.CommunityListItem--Course:hover
  .community__meta
  .community__labels
  .community__owner
  .CommunityCreatorAvatar {
  border-color: var(--course-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Course:hover .tag {
  background-color: var(--course-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Custom {
  background-color: var(--custom-tag-bg-color);
}

.CommunityListItem.CommunityListItem--Custom:hover {
  border-color: var(--custom-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Custom:hover .community__meta {
  background-color: var(--custom-tag-bg-color);
  color: whitesmoke;
}

.CommunityListItem.CommunityListItem--Custom:hover
  .community__meta
  .community__labels
  .community__owner
  .CommunityCreatorAvatar {
  border-color: var(--custom-tag-bg-color-darker);
}

.CommunityListItem.CommunityListItem--Custom:hover .tag {
  background-color: var(--custom-tag-bg-color-darker);
}

/* MEDIA QUERIES */

@media all and (min-width: 500px) {
  .CommunityListItem .community__meta .community__name {
    font-size: 1.3rem;
  }
}

@media all and (min-width: 650px) {
  .CommunityListItem .community__meta .community__name {
    font-size: 1.45rem;
  }

  .CommunityListItem
    .community__meta
    .community__labels
    .community__owner
    .CommunityCreatorAvatar {
    width: 62px;
    height: 62px;
  }

  .CommunityListItem .community__meta .community__labels .community__type {
    font-size: 1.3rem;
  }
}
@media all and (min-width: 784px) {
  .CommunityListItem .community__meta .community__name {
    font-size: 1.1rem;
  }

  .CommunityListItem
    .community__meta
    .community__labels
    .community__owner
    .CommunityCreatorAvatar {
    width: 55px;
    height: 55px;
  }

  .CommunityListItem .community__meta .community__labels .community__type {
    font-size: 1rem;
  }
}
