.CommunityListItem {
  --CommunityistItem-font-color: #556e7e;
  --CommunityistItem-bg-color: #e8ecf1;
  --CommunityistItem-border-color: #b5cfd8;
  --CommunityListItem-border-radius: 10px;

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  border-radius: var(--CommunityListItem-border-radius);
  background-color: var(--CommunityistItem-bg-color);
  color: var(--CommunityistItem-font-color);
  border: 2px solid var(--CommunityistItem-border-color);
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}

.CommunityListItem a {
  text-decoration: none;
  width: 100%;
  color: #556e7e;
}

.CommunityListItem.CommunityListItem--alive {
  background-color: green;
}
.CommunityListItem.CommunityListItem--alive,
.CommunityListItem.CommunityListItem--alive a {
  color: white;
}

.CommunityListItem.CommunityListItem--unknown {
  background-color: yellow;
}
.CommunityListItem.CommunityListItem--unknown,
.CommunityListItem.CommunityListItem--unknown a {
  color: #893838;
}

.CommunityListItem.CommunityListItem--dead {
  background-color: #3f3f3f;
}
.CommunityListItem.CommunityListItem--dead,
.CommunityListItem.CommunityListItem--dead a {
  color: white;
}

.CommunityListItem.CommunityListItem:hover img {
  z-index: -1;
}
.CommunityListItem.CommunityListItem:hover img {
  transition: all 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  border-bottom-left-radius: var(--CommunityListItem-border-radius);
  border-bottom-right-radius: var(--CommunityListItem-border-radius);
}

.CommunityListItem .community__meta {
  transition: all 1s ease-in-out;
  width: 100%;
  /* flex: 1; */
  flex: 1 1 100px;
  padding: var(--r-spacing-md);
  background-color: var(--CommunityistItem-bg-color);
  border-bottom-left-radius: var(--CommunityListItem-border-radius);
  border-bottom-right-radius: var(--CommunityListItem-border-radius);
  border-top: 2px solid var(--CommunityistItem-border-color);
}
.CommunityListItem .community__meta .tag {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.CommunityListItem .community__actions {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #c3d1dcdb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--CommunityListItem-border-radius);
}
.CommunityListItem .community__actions a.community__action {
  display: flex;
  color: lightslategray;
  background-color: whitesmoke;
  padding: 0.3rem;
  flex: 0;
  border-radius: 6px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
.CommunityListItem:hover img {
  transform: scale(1.75) translateY(2rem);
  border-radius: var(--CommunityListItem-border-radius);
}

.CommunityListItem .Community__ProfilePic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  width: 100%;
  border-radius: var(--CommunityListItem-border-radius);
}
.CommunityListItem .Community__ProfilePic-wrapper img {
  display: block;
  object-fit: cover;

  flex: 1 1 250px;
  min-height: 250px;

  border-radius: var(--CommunityListItem-border-radius);
}

/* MEDIA QUERIES */

@media all and (min-width: 400px) {
  .CommunityListItem {
    flex: 0 1 100%;
    min-width: 350px;
  }

  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 250px;
    min-height: 250px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 576px) {
  .CommunityListItem {
    flex: 0 1 100%;
    min-width: 400px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 250px;
    min-height: 250px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 768px) {
  .CommunityListItem {
    flex: 0 1 330px;
    min-width: 330px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 200px;
    min-height: 200px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 800px) {
  .CommunityListItem {
    flex: 0 1 340px;
    min-width: 340px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 225px;
    min-height: 225px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 900px) {
  .CommunityListItem {
    flex: 0 1 375px;
    min-width: 375px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 225px;
    min-height: 225px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 992px) {
  .CommunityListItem {
    flex: 0 1 430px;
    min-width: 430px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 225px;
    min-height: 225px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 1024px) {
  .CommunityListItem {
    flex: 0 1 440px;
    min-width: 440px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 250px;
    min-height: 250px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 1100px) {
  .CommunityListItem {
    flex: 0 1 310px;
    min-width: 310px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 200px;
    min-height: 200px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 1200px) {
  .CommunityListItem {
    flex: 0 1 325px;
    min-width: 325px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 200px;
    min-height: 200px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 1300px) {
  .CommunityListItem {
    flex: 0 1 360px;
    min-width: 360px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 200px;
    min-height: 200px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 1400px) {
  .CommunityListItem {
    flex: 0 1 290px;
    min-width: 290px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 200px;
    min-height: 200px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 1500px) {
  .CommunityListItem {
    flex: 0 1 315px;
    min-width: 315px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 200px;
    min-height: 200px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 1600px) {
  .CommunityListItem {
    flex: 0 1 325px;
    min-width: 325px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 200px;
    min-height: 200px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 1700px) {
  .CommunityListItem {
    flex: 0 1 360px;
    min-width: 360px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 200px;
    min-height: 200px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}

@media all and (min-width: 1700px) {
  .CommunityListItem {
    flex: 0 1 380px;
    min-width: 380px;
  }
  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 200px;
    min-height: 200px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
  }
}
