.CommunityList {
  display: grid;
  align-items: stretch;

  /* grid-auto-rows: minmax(350px, 1fr); */
  grid-auto-rows: minmax(400px, 1fr);
  grid-gap: 0.25rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: stretch;
}

.CommunityList__FilterBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--senary-color);
  border-radius: 6px;
  box-shadow: rgb(50 50 93 / 25%) 0 13px 27px -5px,
    rgb(0 0 0 / 30%) 0 8px 16px -8px;
  transition: width 500ms ease-in-out;
}

.CommunityList__FilterBar .ListItemsCount {
  font-size: 1.25rem;
}

.CommunityList__FilterBar .form-control {
  width: 10rem;
  padding: 0.5rem;
  border: 1px solid #56a2e5;
  margin: 0.25rem;
  border-radius: 10px;
  font-weight: normal;
  letter-spacing: 2px;
}

.CommunityList__FilterBar.FilterBarSticky {
  position: absolute;
  z-index: 1;
  top: 89px;
  left: 0;
  width: 100vw;
  padding-left: 10rem;
  border-radius: 0;
}

.CommunityList__FilterBar.FilterBarSticky + .CommunityList__Items {
  margin-top: 2rem;
}

.CommunityList__LoadMoreButton {
  font-size: 1.5rem;
  letter-spacing: 3px;
}
