.CommunityListItem {
  --CommunityistItem-font-color: #556e7e;
  --CommunityistItem-bg-color: #e8ecf1;
  --CommunityistItem-border-color: #b5cfd8;
  --CommunityListItem-border-radius: 10px;

  aspect-ratio: 4/3;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  text-align: center;
  /* width: 100%; */
  position: relative;
  overflow: hidden;
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  border-radius: var(--CommunityListItem-border-radius);
  background-color: var(--CommunityistItem-bg-color);
  color: var(--CommunityistItem-font-color);
  border: 2px solid var(--CommunityistItem-border-color);
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}

.CommunityListItem a {
  text-decoration: none;
  width: 100%;
  color: #556e7e;
}
/*TODO: Style by type ?! */
/*
.CommunityListItem.CommunityListItem--School {
  background-color: green;
}
.CommunityListItem.CommunityListItem--School,
.CommunityListItem.CommunityListItem--School a {
  color: white;
}

.CommunityListItem.CommunityListItem--Class {
  background-color: yellow;
}
.CommunityListItem.CommunityListItem--Class,
.CommunityListItem.CommunityListItem--Class a {
  color: #893838;
}

.CommunityListItem.CommunityListItem--Course {
  background-color: #3f3f3f;
}
.CommunityListItem.CommunityListItem--Course,
.CommunityListItem.CommunityListItem--Course a {
  color: white;
} */

.CommunityListItem.CommunityListItem:hover img.Community__ProfilePic {
  z-index: -1;
}

.CommunityListItem.CommunityListItem:hover img.Community__ProfilePic {
  transition: all 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  border-bottom-left-radius: var(--CommunityListItem-border-radius);
  border-bottom-right-radius: var(--CommunityListItem-border-radius);
}

.CommunityListItem .Community__ProfilePic-wrapper {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  /* width: 100%; */
  border-radius: var(--CommunityListItem-border-radius);
}
.CommunityListItem .Community__ProfilePic-wrapper img {
  display: block;
  object-fit: cover;

  flex: 1 1 100%;

  border-radius: var(--CommunityListItem-border-radius);
}

.CommunityListItem .community__meta {
  transition: all 1s ease-in-out;
  /* width: 100%; */
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 0.2rem;

  /* padding: var(--r-spacing-md); */
  /* padding: 0.5rem; */
  padding: 0.75rem 1rem 0.75rem 1rem;
  background-color: var(--CommunityistItem-bg-color);
  border-bottom-left-radius: var(--CommunityListItem-border-radius);
  border-bottom-right-radius: var(--CommunityListItem-border-radius);
  border-top: 2px solid var(--CommunityistItem-border-color);
}
.CommunityListItem .community__meta .community__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: #556e7ebd;
  position: absolute;
  top: 40%;
  left: 0;
  color: wheat;
  font-weight: bold;
  min-width: 66.66%;
  max-width: 75%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.2rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.CommunityListItem .community__meta .community__labels {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.CommunityListItem .community__meta .community__labels .community__owner {
  /* position: absolute;
  left: 10px;
  bottom: 10px; */
  font-size: 80%;
  display: flex;
}
.CommunityListItem
  .community__meta
  .community__labels
  .community__owner
  .CommunityCreatorAvatar {
  width: 42px;
  height: 42px;
  border: 1px solid #7e919e;
}
.CommunityListItem .community__meta .community__labels .community__type {
  font-size: 1.2rem;
}

.CommunityListItem .community__actions {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #c3d1dcdb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--CommunityListItem-border-radius);
}
.CommunityListItem .community__actions a.community__action {
  display: flex;
  color: lightslategray;
  background-color: whitesmoke;
  padding: 0.3rem;
  flex: 0;
  border-radius: 6px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}
.CommunityListItem:hover img.Community__ProfilePic {
  transform: scale(1.75) translateY(2rem);
  border-radius: var(--CommunityListItem-border-radius);
}

/* MEDIA QUERIES */
/*
@media all and (min-width: 400px) {
  .CommunityListItem {
  }

  .CommunityListItem .Community__ProfilePic-wrapper img {
    flex: 1 1 250px;
    min-height: 250px;
  }

  .CommunityListItem .community__meta {
    flex: 1 1 100px;
    padding: 1rem;
  }
  .CommunityListItem .community__meta .community__name {
    font-size: 1.35rem;
    letter-spacing: 0.25rem;
  }

  .CommunityListItem
    .community__meta
    .community__owner
    .CommunityCreatorAvatar {
    width: 65px;
    height: 65px;
  }

  .CommunityListItem .community__meta .community__type {
    font-size: 1.15rem;
  }
}
*/

@media all and (min-width: 500px) {
  .CommunityListItem .community__meta .community__name {
    font-size: 1.3rem;
  }
}

@media all and (min-width: 650px) {
  .CommunityListItem .community__meta .community__name {
    font-size: 1.45rem;
  }

  .CommunityListItem
    .community__meta
    .community__labels
    .community__owner
    .CommunityCreatorAvatar {
    width: 62px;
    height: 62px;
  }
  .CommunityListItem .community__meta .community__labels .community__type {
    font-size: 1.3rem;
  }
}
@media all and (min-width: 784px) {
  .CommunityListItem .community__meta .community__name {
    font-size: 1.1rem;
  }

  .CommunityListItem
    .community__meta
    .community__labels
    .community__owner
    .CommunityCreatorAvatar {
    width: 55px;
    height: 55px;
  }

  .CommunityListItem .community__meta .community__labels .community__type {
    font-size: 1rem;
  }
}
