main.CommunityLayout .CommunityMain .MainHeader {
  display: flex;
  height: var(--CommunityMainHeader-height);

  background-color: var(--CommunityMainHeader-bg-color);

  gap: 1rem;
  padding: 0.25rem 0.25rem 0.25rem 0rem;

  align-items: center;
  align-content: center;
  justify-content: flex-start;

  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}
main.CommunityLayout .CommunityMain .MainContent {
  display: flex;
  flex: 1 1 auto;
  min-width: 100%;

  align-items: center;

  flex-direction: column;
  padding-top: 3rem;
}

main.CommunityLayout .CommunityMain .MainHeader a.ToggleSidebarBtn {
  padding: 0.3rem;
  padding-right: 0.75rem;

  background-color: var(--ToggleSidebarBtn-bg-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.CommunityLayout
  .CommunityMain
  a.CommunityMainHeader__Item
  .sidebarToggleIcon {
  color: whitesmoke;
}
