.Dropdown {
  position: relative;
}

.Dropdown a.Dropdown__Toggler {
  font-size: 1rem;
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.Dropdown a.Dropdown__Toggler:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.Dropdown a.Dropdown__Toggler span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.Dropdown .DropdownHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dddddd;
}

.Dropdown nav.Dropdown__Menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 55px;
  right: 0;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 10000;
  font-size: 1rem;
  padding: 0.5rem;
  width: 300px;
  border-radius: 6px;
}

.Dropdown nav.Dropdown__Menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.Dropdown nav.Dropdown__Menu ul.Dropdown__Items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25em;
}

.Dropdown nav.Dropdown__Menu ul.Dropdown__Items li.DropdownItem {
  /* border-bottom: 1px solid #dddddd; */
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  transition: all 0.3s ease-in;
  border: 1px solid transparent;
  color: #556e7e;
  letter-spacing: 1px;
  font-size: 1rem;
}

.Dropdown nav.Dropdown__Menu ul.Dropdown__Items li.DropdownItem:hover {
  background-color: #d8e2e9;
  background-color: #cbd8e2;
  border: 1px solid #94b3c6;
  color: #284c63;
}

.Dropdown
  nav.Dropdown__Menu
  ul.Dropdown__Items
  li.DropdownItem:hover
  a.DropdownItem__Link {
  color: #284c63;
}

.Dropdown
  nav.Dropdown__Menu
  ul.Dropdown__Items
  li.DropdownItem
  a.DropdownItem__Link {
  text-decoration: none;
  color: #556e7e;
  letter-spacing: 1px;
  /* padding: 15px 20px; */
  border-radius: 6px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  position: relative;
}

.Dropdown
  nav.Dropdown__Menu
  ul.Dropdown__Items
  li.DropdownItem
  a.DropdownItem__Link
  span:first-child {
  background: #7393a7;
  /* width: 100px; */
  /* height: 100px; */
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Dropdown
  nav.Dropdown__Menu
  ul.Dropdown__Items
  li.DropdownItem
  a.DropdownItem__Link
  span:first-child
  svg {
  color: whitesmoke;
}
