main.CommunityLayout {
  flex: 1 1 auto;

  display: flex;

  flex-wrap: nowrap;
  justify-content: center;

  overflow-y: auto;
  overflow-x: hidden;

  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

:root {
  --CommunitySidebar-bg-color: #b5cfd8;
  --CommunityMain__Header-bg-color: #e8ecf1;
  --CommunityMainHeader__Item-bg-color: var(--CommunitySidebar-bg-color);
}
