.App {
}

.App--modalOpened {
  filter: blur(4px);
  /* necessary to avoid trouble when using responsive-nav-overlay + modal side by side: */
  overflow-y: hidden;
}

.PageLoadingAnimation {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
