.App__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0.75rem;
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  font-size: 1rem;

  gap: 0;

  text-align: center;
}

.App__header .AppNav {
  display: flex;
  width: 100%;

  /* gap: 1rem; */
  align-items: flex-end;
  align-items: center;
  justify-content: space-between;
}

.App__header .AppNav .AppNav__Left {
  display: flex;
  flex: 1;
  align-items: center;
  align-items: stretch;
  justify-content: flex-start;
}

.App__header .AppNav .AppNav__Center {
  display: flex;

  /* flex: 1; */
  flex: auto;
  align-items: center;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
}

.App__header .AppNav .AppNav__Right {
  display: flex;
  flex: 1;
  align-items: center;
  align-items: stretch;
  justify-content: flex-end;
  gap: 0.5rem;
}

.App__header .AppNav .NavItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.5rem;
  border: 1px solid transparent;

  background-color: var(--nav-item-bg-color);
  border-radius: 6px;
  color: var(--nav-item-hover-font-color);

  color: whitesmoke;
  text-decoration: none;
  transition: all 0.3s ease;
}

.App__header .AppNav .NavItem:hover {
  border: 1px solid #80baee;
  background-color: var(--nav-item-hover-bg-color);
  color: var(--nav-item-hover-font-color);
}

/* EDIT: Added: */

/* AppNav MUST keep height of 41px - and Appheader height of 58.56px */

.App__header .AppNav .Dropdown {
  display: flex;
}

.App__header .AppNav .Dropdown nav.Dropdown__Menu {
  width: 16rem;
  min-width: unset;
  max-width: unset;
  padding: 0 1rem 1rem;
  border: none;
}

.App__header
  .AppNav
  .Dropdown.Dropdown--HeaderBarUserOptions
  .Dropdown__Toggler {
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}

.App__header
  .AppNav
  .Dropdown.Dropdown--HeaderBarUserOptions
  .Dropdown__Toggler
  .User__ProfilePic {
  border-radius: 90px;
}

.App__header
  .AppNav
  .Dropdown.Dropdown--HeaderBarUserOptions
  .Dropdown__Header
  .User__ProfilePic {
  width: 125px;
  height: 125px;
  margin: 0.5rem;
}

.App__header
  .AppNav
  .Dropdown.Dropdown--HeaderBarUserOptions
  .Dropdown__Header
  .User__Meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-family: "News Cycle", sans-serif;

  font-size: 1rem;
  gap: 0.5rem;
}

/* till here */

.User__ProfilePic.NavItem__Icon.userAvatarIcon {
  width: 41px;
  height: 41px;
}

.App__header .AppNav .NavItem .NavItem__Icon {
  color: whitesmoke;
  font-size: 1.5rem;
  transition: all 0.3s ease-in;
}

.App__header .AppNav .NavItem:hover .NavItem__Icon {
  color: white;
  transform: scale(1.1);
}

.App__header .AppNav .NavItem--Btn {
  width: max-content;
  padding: 0.2rem 0.5rem;
}

.App__header .AppNav .NavItem--Link {
  padding: 0.2rem 0.5rem;
  background-color: #7393a7;
}

.App__header .AppNav .NavItem--BtnIconOnly {
  padding: 0.3rem;
}

.App__header .AppNav .NavItem--Brand {
  background-color: transparent;

  /* color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem; */
  filter: drop-shadow(2px 4px 6px rgb(247 247 247));
}

.App__header .AppNav .NavItem--Link:hover {
  border: 1px solid var(--nav-item-bg-color);
  background-color: var(--nav-item-bg-color);
}

.App__header .AppNav .NavItem--Brand .BrandLogo {
  width: auto;
  height: 30px;
}

.App__header .AppNav .NavItem--Brand:hover {
  border: 1px solid whitesmoke;
  background-color: unset !important;
  color: whitesmoke;
}

/* .App__header .AppNav .NavItem--Btn--withCaption {
  padding: 0.2rem 0.5rem;
} */

.App__header .AppNav .NavItem--Btn .NavItem__Caption {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.App__header .AppNav .NavItem--Link .NavItem__Caption {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
