.EditCommunityMembersModalPage {
  height: 100%;
  width: 100%;
  flex: 1 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  align-items: flex-start;
  overflow-x: hidden;

  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.EditCommunityMembersModalPage .NewUserForm {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
  gap: 1rem;
  padding: 0 1rem;
  grid-gap: 2rem;
  gap: 2rem;
  padding: 1rem;
  flex: 0 0 100px;
  align-items: stretch;
  justify-content: flex-end;
}
