.CommunityLayout .CommunityMain .MainContent .GroupChat {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: stretch;

  /* padding: 1rem 1rem 0 1rem; */
  justify-content: space-between;
  gap: 0.5rem;
}

.GroupChat .GroupChat__Hero {
  position: relative;

  display: flex;
  min-height: 10vh;
  padding: 1rem;

  box-shadow: rgb(50 50 93 / 25%) 0 13px 27px -5px,
    rgb(0 0 0 / 30%) 0 8px 16px -8px;

  color: #506f82;
}

.GroupChat .GroupChat__Hero > * {
  z-index: 101;
}

.GroupChat .GroupChat__Hero::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #333;
  background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  content: "";

  /* filter: sepia(0.5) opacity(1); */
  filter: opacity(0.5);
  opacity: 0.7;
}

.GroupChat .GroupChat__Main {
  flex: 1;
  padding: 1rem 1rem 0;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

.GroupChat .GroupChat__Main::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
