.UserListItem {
  --UserListItem-font-color: #556e7e;
  --UserListItem-bg-color: #e8ecf1;
  --UserListItem-border-color: #b5cfd8;
  --UserListItem-border-radius: 10px;

  flex: 0 1 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  border-radius: var(--UserListItem-border-radius);
  background-color: var(--UserListItem-bg-color);
  color: var(--UserListItem-font-color);
  border: 2px solid var(--UserListItem-border-color);
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}

.UserListItem a {
  text-decoration: none;
  width: 100%;
  color: #556e7e;
}

.UserListItem.UserListItem--student {
  /* background-color: green; */
  /* border-color: green; */
}
.UserListItem.UserListItem--student,
.UserListItem.UserListItem--student a {
  /* color: white; */
}
.UserListItem.UserListItem--student .User__ProfilePic-wrapper img {
  /* border-color: green; */
}

.UserListItem.UserListItem--teacher {
  /* background-color: green; */
  /* border-color: green; */
}
.UserListItem.UserListItem--teacher,
.UserListItem.UserListItem--teacher a {
  /* color: white; */
}
.UserListItem.UserListItem--teacher .User__ProfilePic-wrapper img {
  /* border-color: green; */
}

.UserListItem.UserListItem--parent {
  /* background-color: green; */
  /* border-color: green; */
}
.UserListItem.UserListItem--parent,
.UserListItem.UserListItem--parent a {
  /* color: white; */
}
.UserListItem.UserListItem--parent .User__ProfilePic-wrapper img {
  /* border-color: green; */
}

.UserListItem.UserListItem--unknown {
  background-color: yellow;
}
.UserListItem.UserListItem--unknown,
.UserListItem.UserListItem--unknown a {
  color: #893838;
}

.UserListItem.UserListItem img {
  transition: all 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.UserListItem.UserListItem:hover img {
  z-index: -1;
}

.UserListItem .user__meta {
  transition: all 1s ease-in-out;
  width: 100%;

  flex: 1 1 150px;
  padding: var(--r-spacing-md);
  background-color: var(--UserListItem-bg-color);
  border-bottom-left-radius: var(--UserListItem-border-radius);
  border-bottom-right-radius: var(--UserListItem-border-radius);
  border-top: 2px solid var(--UserListItem-border-color);
}

.UserListItem .user__actions {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #c3d1dcdb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--UserListItem-border-radius);
}
.UserListItem .user__actions a.user__action {
  display: flex;
  color: lightslategray;
  background-color: whitesmoke;
  padding: 0.3rem;
  flex: 0;
  border-radius: 6px;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}
.UserListItem:hover img {
  transform: scale(1.1);
  border-radius: var(--UserListItem-border-radius);
}

.UserListItem .User__ProfilePic-wrapper {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserListItem .User__ProfilePic-wrapper .User__ProfilePic {
  display: block;
  margin: 1rem;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  z-index: 30;
  border: 1px solid #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
