.UserProfileCardSidebar {
  --user-profile-card-sidebar-font-color: #556e7e;
  --user-profile-card-sidebar-bg-color: #e8ecf1;

  /* --user-profile-card-sidebar-border-color: #b5cfd8; */
  --user-profile-card-sidebar-border-color: #d0d3da;
  --user-profile-card-sidebar-border-radius: 10px;
  display: flex;
  overflow: hidden;

  min-width: 85%;
  flex-direction: column;
  align-items: center;

  padding: 0;

  /* border: 2px solid var(--user-profile-card-sidebar-border-color); */

  /* border: 10px solid white; */

  /* border: none; */
  border: 1px solid var(--user-profile-card-sidebar-border-color);
  backface-visibility: hidden;

  /* background-color: var(--user-profile-card-sidebar-bg-color); */
  background-color: aliceblue;
  background-color: #eff2f5;
  border-radius: var(--user-profile-card-sidebar-border-radius);

  /* box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px; */
  box-shadow: 0 1px 8px rgb(0 0 0 / 30%);

  color: var(--user-profile-card-sidebar-font-color);
  cursor: pointer;
  text-align: center;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
}

.UserProfileCardSidebar--Inner {
  margin: 1rem;
}

.UserProfileCardSidebar a {
  width: 100%;
  color: #556e7e;
  text-decoration: none;
}

.UserProfileCardSidebar.UserProfileCardSidebar--student {
  /* background-color: green; */

  /* border-color: green; */
}

.UserProfileCardSidebar.UserProfileCardSidebar--student,
.UserProfileCardSidebar.UserProfileCardSidebar--student a {
  /* color: white; */
}

.UserProfileCardSidebar.UserProfileCardSidebar--student
  .User__ProfilePic-wrapper
  img {
  /* border-color: green; */
}

.UserProfileCardSidebar.UserProfileCardSidebar--teacher {
  /* background-color: green; */

  /* border-color: green; */
}

.UserProfileCardSidebar.UserProfileCardSidebar--teacher,
.UserProfileCardSidebar.UserProfileCardSidebar--teacher a {
  /* color: white; */
}

.UserProfileCardSidebar.UserProfileCardSidebar--teacher
  .User__ProfilePic-wrapper
  img {
  /* border-color: green; */
}

.UserProfileCardSidebar.UserProfileCardSidebar--parent {
  /* background-color: green; */

  /* border-color: green; */
}

.UserProfileCardSidebar.UserProfileCardSidebar--parent,
.UserProfileCardSidebar.UserProfileCardSidebar--parent a {
  /* color: white; */
}

.UserProfileCardSidebar.UserProfileCardSidebar--parent
  .User__ProfilePic-wrapper
  img {
  /* border-color: green; */
}

.UserProfileCardSidebar.UserProfileCardSidebar--unknown {
  background-color: yellow;
}

.UserProfileCardSidebar.UserProfileCardSidebar--unknown,
.UserProfileCardSidebar.UserProfileCardSidebar--unknown a {
  color: #893838;
}

.UserProfileCardSidebar.UserProfileCardSidebar img {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.UserProfileCardSidebar.UserProfileCardSidebar:hover img {
  z-index: -1;
}

.UserProfileCardSidebar .user__meta {
  /* width: 100%; */

  display: flex;
  flex-direction: column;

  /* background-color: var(--user-profile-card-sidebar-bg-color);

  background-color: aliceblue; */
  background-color: #eff2f5;

  border-bottom-left-radius: var(--user-profile-card-sidebar-border-radius);
  border-bottom-right-radius: var(--user-profile-card-sidebar-border-radius);
  gap: 0.75rem;
  transition: all 1s ease-in-out;

  /* border-top: 2px solid var(--user-profile-card-sidebar-border-color); */
}

.UserProfileCardSidebar ul.user__statistics {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  margin-top: 2rem;
  gap: 0.5rem;
  list-style-type: none;
}

.UserProfileCardSidebar ul.user__statistics li {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0;
}

.UserProfileCardSidebar .user__meta .user__name {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.UserProfileCardSidebar .user__meta .user__user__userName {
  letter-spacing: 1px;
}

.UserProfileCardSidebar .user__meta .user__type .tag {
  font-size: 1.25rem;
}

.UserProfileCardSidebar .user__meta .user__membership_start {
  letter-spacing: 1px;
}

.UserProfileCardSidebar .user__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
  margin: 0.5rem;

  /* background: #c3d1dcdb; */
  background-color: #e8ecf1;
  border-radius: var(--user-profile-card-sidebar-border-radius);
  gap: 0.5rem;
}

.UserProfileCardSidebar .user__actions a.user__action {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  background-color: whitesmoke;
  border-radius: 6px;
  color: lightslategray;
  font-size: 1rem;
}

.UserProfileCardSidebar:hover img {
  border-radius: var(--user-profile-card-sidebar-border-radius);
  transform: scale(1.1);
}

.UserProfileCardSidebar .User__ProfilePic-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding: 0; */
  padding: 1rem 1rem 0.25rem;
}

.UserProfileCardSidebar .User__ProfilePic-wrapper .User__ProfilePic {
  z-index: 30;
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  margin: 1rem;
  border-radius: 100%;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  object-fit: cover;
}

/*  */
