/* concerns more or less all forms - TODO: Remve community scoping in style rulesets amd move to a global forms-style-file */

.CommunityModalFormPage {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 1rem;
}
.CommunityModalFormPage .Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.CommunityModalFormPage .Form .FormGroup,
.CommunityModalFormPage .Form .FormActions {
  display: flex;
  flex-direction: column;
}
.CommunityModalFormPage .Form .FormGroup__Label {
  font-weight: bold;
  color: lightslategray;
}

.CommunityModalFormPage .Form .FormGroup__Ctrl {
  /* TODO: unset all and specify everything ? */
  all: unset;

  background: var(--form-inputs-bg-color);
  border: 3px solid var(--form-inputs-border-color);
  border-radius: 3px;
  border-top: none;
  border-left: none;
  border-right: none;

  box-shadow: 1px 1px 1px rgb(0 0 0 / 5%);

  outline: none;
  color: var(--form-inputs-color);
  /* color: inherit; */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.CommunityModalFormPage .Form .FormGroup__Ctrl:focus {
  background-color: var(--form-inputs-focus-bg-color);
  border-color: var(--form-inputs-focus-border-color);
}

.FormGroup__ErrorMessage {
  color: #e91818;
  letter-spacing: 1px;
}

.CommunityModalFormPage .Form .FormActions {
  margin-top: 1rem;
  flex-direction: row;
  justify-content: flex-end;
}
