.App__header.RegistrationHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  color: var(--header-font-color);
  background-color: var(--header-bg-color);

  padding: 0.5rem 0.75rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;

  gap: 0;
}

.App__header.RegistrationHeader .AppNav {
  display: flex;

  justify-content: space-between;
  /* gap: 1rem; */
  align-items: flex-end;
  align-items: center;
  width: 100%;
}

.App__header .RegistrationHeader .AppNav .AppNav__Left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  align-items: stretch;
}
.App__header .RegistrationHeader .AppNav .AppNav__Center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* flex: 1; */
  flex: auto;
  align-items: stretch;
}
.App__header .RegistrationHeader .AppNav .AppNav__Right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  align-items: stretch;
}

.App__header .RegistrationHeader .AppNav .NavItem {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--nav-item-bg-color);
  color: var(--nav-item-hover-font-color);
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  display: flex;
  padding: 0.2rem 0.5rem;
  text-decoration: none;

  color: whitesmoke;
}
.App__header .RegistrationHeader .AppNav .NavItem:hover {
  background-color: var(--nav-item-hover-bg-color);
  color: var(--nav-item-hover-font-color);
  border: 1px solid #80baee;
}

.App__header .RegistrationHeader .AppNav .NavItem--LoginBtn {
  /* background-color: ##9773a7; */

  background-color: var(--nav-item-bg-color);
  border: 1px solid #16878c;
}
.App__header .RegistrationHeader .AppNav .NavItem--LoginBtn:hover {
  background-color: #466a81;
  color: #fff;
  border: 1px solid #80baee;
  border: 1px solid #16878c;
}
.App__header .RegistrationHeader .AppNav .NavItem--SignUpBtn {
  background-color: #9773a7;
  border: 1px solid #9773a7;
  border: 1px solid #16878c;

  /* background-color: #7393a7; */
}

.App__header .RegistrationHeader .AppNav .NavItem--SignUpBtn:hover {
  background-color: #77458d;

  border: 1px solid #774090;
  border: 1px solid #77458d;
}

.App__header .RegistrationHeader .AppNav .NavItem--Link:hover {
  background-color: var(--nav-item-bg-color);
  border: 1px solid var(--nav-item-bg-color);
}

.App__header .RegistrationHeader .AppNav .NavItem .NavItem__Icon {
  color: whitesmoke;
  transition: all 0.3s ease-in;
  font-size: 1.5rem;
}

.App__header .RegistrationHeader .AppNav .NavItem:hover .NavItem__Icon {
  color: white;
  transform: scale(1.1);
}

.App__header .RegistrationHeader .AppNav .NavItem--Btn {
  padding: 0.2rem 0.5rem;
  width: max-content;
}
.App__header .RegistrationHeader .AppNav .NavItem--Link {
  background-color: #7393a7;
  padding: 0.2rem 0.5rem;
}

.App__header .RegistrationHeader .AppNav .NavItem--BtnIconOnly {
  padding: 0.3rem;
}

.App__header .RegistrationHeader .AppNav .NavItem--Brand {
  padding: 0.3rem;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem;
  filter: drop-shadow(2px 4px 6px rgb(247, 247, 247));
  box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px,
    rgb(0 0 0 / 30%) 0px 8px 16px -8px;
}

.App__header .RegistrationHeader .AppNav .NavItem--Brand:hover {
  background-color: unset !important;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

.App__header .RegistrationHeader .AppNav .NavItem--Link {
}

/* .App__header  .RegistrationHeader .AppNav .NavItem--Btn--withCaption {
  padding: 0.2rem 0.5rem;
} */

.App__header .RegistrationHeader .AppNav .NavItem--Btn .NavItem__Caption {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.App__header .RegistrationHeader .AppNav .NavItem--Link .NavItem__Caption {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
