.App__header.RegistrationHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  color: var(--header-font-color);
  background-color: var(--header-bg-color);

  padding: 0 1rem;
  font-size: 1rem;

  height: 65px;
  min-height: 65px;

  gap: 0;
}

.App__header.RegistrationHeader .AppNav {
  display: flex;

  justify-content: space-between;
  /* gap: 1rem; */
  align-items: flex-end;
  align-items: center;
  width: 100%;
}

.App__header.RegistrationHeader .AppNav .AppNav__Left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  align-items: stretch;
}
.App__header.RegistrationHeader .AppNav .AppNav__Center {
  display: flex;
  justify-content: center;
  flex: auto;
  align-items: stretch;
  flex-direction: column;
  gap: 0.5rem;

  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 10;

  visibility: hidden;
  opacity: 0;

  margin: 10px;
  border-radius: 10px;
  transition: visibility 0.3s linear, opacity 0.3s linear;

  background-color: #7393a7;

  padding: 0.5rem;
}

.App__header.RegistrationHeader .AppNav.toggled .AppNav__Center {
  display: flex;
  visibility: visible;
  opacity: 1;
}
.App__header.RegistrationHeader .AppNav .AppNav__Center .NavItem {
  padding: 1rem 1.5rem;
  justify-content: flex-start;
}

.App__header.RegistrationHeader .AppNav .AppNav__Right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  align-items: stretch;
}

.App__header.RegistrationHeader .AppNav .NavItem {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--nav-item-bg-color);
  color: var(--nav-item-hover-font-color);
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  display: flex;

  text-decoration: none;

  color: whitesmoke;
}

.App__header.RegistrationHeader .AppNav .NavItem:hover {
  background-color: var(--nav-item-hover-bg-color);
  color: var(--nav-item-hover-font-color);
  border: 1px solid #80baee;
}

.App__header.RegistrationHeader .AppNav .NavItem--Brand {
  background-color: transparent;
  filter: drop-shadow(2px 4px 6px rgb(247, 247, 247));
}
.App__header.RegistrationHeader .AppNav .NavItem--Brand:hover {
  color: var(--nav-item-hover-font-color);
  background-color: unset !important;

  /* border: 1px solid #80baee;
  color: whitesmoke;
  border: 1px solid whitesmoke; */
}
.App__header.RegistrationHeader .AppNav .NavItem--ToggleNavBtn {
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  transition: all 0.5s ease-in-out;
  padding: 0.5rem 1rem;
}

.App__header.RegistrationHeader .AppNav .NavItem--ToggleNavBtn:hover {
  border: 1px solid #6191af;
  background-color: #82a8c0;
  color: #fff;
  font-size: 200%;
}

.App__header.RegistrationHeader .AppNav .NavItem--LoginBtn {
  /* background-color: ##9773a7; */

  background-color: #517a95;
  border: 1px solid #466a81;
}
.App__header.RegistrationHeader .AppNav .NavItem--LoginBtn:hover {
  background-color: #466a81;
  color: #fff;
  /* border: 1px solid #80baee;
  border: 1px solid #16878c; */
  border: 1px solid #466a81;
}
.App__header.RegistrationHeader .AppNav .NavItem--SignUpBtn {
  background-color: #9773a7;
  border: 1px solid #9773a7;
  border: 1px solid #16878c;

  /* background-color: #7393a7; */
}

.App__header.RegistrationHeader .AppNav .NavItem--SignUpBtn:hover {
  background-color: #77458d;

  border: 1px solid #774090;
  border: 1px solid #77458d;
}

.App__header.RegistrationHeader .AppNav .NavItem--Link:hover {
  background-color: var(--nav-item-bg-color);
  border: 1px solid var(--nav-item-bg-color);
}

.App__header.RegistrationHeader .AppNav .NavItem .NavItem__Icon {
  color: whitesmoke;
  transition: all 0.3s ease-in;
  font-size: 1.5rem;
}
.App__header.RegistrationHeader .AppNav .NavItem .NavItem__Icon.toggleNavIcon {
  font-size: 1.5rem;
}

.App__header.RegistrationHeader .AppNav .NavItem:hover .NavItem__Icon {
  color: white;
  transform: scale(1.1);
}

.App__header.RegistrationHeader .AppNav .NavItem--Btn {
  padding: 0.2rem 0.5rem;
  width: max-content;
}
.App__header.RegistrationHeader .AppNav .NavItem--Link {
  background-color: #7393a7;
  padding: 0.2rem 0.5rem;
}

.App__header.RegistrationHeader .AppNav .NavItem--BtnIconOnly {
  padding: 0.3rem;
}

.App__header.RegistrationHeader .AppNav .NavItem--Btn .NavItem__Caption {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.App__header.RegistrationHeader .AppNav .NavItem--Link .NavItem__Caption {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.App__header.RegistrationHeader .AppNav.toggled + .NavOverlay {
  visibility: visible;
  opacity: 1;
}

.App__header.RegistrationHeader .NavOverlay {
  position: fixed;
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
  cursor: pointer;
}

@media all and (min-width: 800px) {
  .App__header.RegistrationHeader .AppNav .NavItem--ToggleNavBtn {
    display: none;
  }
  .App__header.RegistrationHeader {
    height: 75px;
  }
  .App__header.RegistrationHeader .AppNav .AppNav__Center {
    display: flex;
    visibility: visible;
    opacity: 1;

    margin: 0;
    padding: 0;
    border-radius: 0;

    flex-direction: row;
    position: inherit;
    top: 80px;
    left: 50%;
    z-index: 10;
    background-color: inherit;

    align-items: center;
  }

  .App__header.RegistrationHeader .AppNav .AppNav__Center .NavItem {
    padding: 0.2rem 0.5rem;
    justify-content: flex-start;
  }
}
