.Header.Header--public {
  --public-app-header-height: 75px;
  --nav-item-link-padding: 0.4rem 0.7rem;
  --nav-item-btn-padding: var(--nav-item-link-padding);
  --nav-item-center-padding: var(--nav-item-link-padding);

  position: relative;
  z-index: 10;
  display: flex;

  min-height: var(--public-app-header-height);
  max-height: var(--public-app-header-height);
  align-items: center;
  justify-content: space-between;

  padding: 0 1rem;
  background-color: var(--header-bg-color);
  box-shadow: rgb(0 0 0 / 7%) 0 1px 2px, rgb(0 0 0 / 7%) 0 2px 4px,
    rgb(0 0 0 / 7%) 0 4px 8px, rgb(0 0 0 / 7%) 0 8px 16px,
    rgb(0 0 0 / 7%) 0 16px 32px, rgb(0 0 0 / 7%) 0 32px 64px;
  color: var(--header-font-color);
  font-size: 1rem;

  gap: 0;

  text-align: center;
}

.Header.Header--public .AppNav {
  display: flex;
  width: 100%;

  /* gap: 1rem; */
  align-items: flex-end;
  align-items: center;

  justify-content: space-between;
}

.Header.Header--public .AppNav .AppNav__Left {
  display: flex;
  flex: 1;
  align-items: center;
  align-items: stretch;
  justify-content: flex-start;
}

.Header.Header--public .AppNav .AppNav__Center {
  position: fixed;
  z-index: 10;

  /* top: 60px; */

  top: calc(var(--public-app-header-height) - 5px);

  /* top: calc(10px - 5px); */
  right: 0;
  left: 0;
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  padding: 0.5rem;

  margin: 10px;

  background-color: #7393a7;
  border-radius: 10px;
  gap: 0.5rem;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;

  visibility: hidden;
}

.Header.Header--public .AppNav.toggled .AppNav__Center {
  display: flex;
  min-width: fit-content;
  opacity: 1;
  visibility: visible;
}

.Header.Header--public .AppNav .NavItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;

  background-color: var(--nav-item-bg-color);
  border-radius: 6px;

  /* color: var(--nav-item-hover-font-color); */
  color: whitesmoke;

  line-height: var(--nav-item-line-height);

  text-decoration: none;

  text-shadow: var(--nav-item-text-shadow);

  transition-duration: 0.3s;
  transition-property: border, color, background-color;
  transition-timing-function: ease;
}

.Header.Header--public .AppNav .AppNav__Center .NavItem {
  justify-content: flex-start;
  padding: 1rem 1.5rem;
}

.Header.Header--public .AppNav .AppNav__Right {
  display: flex;
  flex: 1;
  align-items: center;
  align-items: stretch;
  justify-content: flex-end;
  gap: 0.5rem;
}

.Header.Header--public .AppNav .NavItem:hover {
  border: 1px solid #80baee;
  background-color: var(--nav-item-hover-bg-color);
  color: var(--nav-item-hover-font-color);
}

/* .Header.Header--public .AppNav .NavItem:hover .NavItem__Caption {
  text-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
} */

.Header.Header--public .AppNav .NavItem--Brand {
  background-color: transparent;

  /* filter: drop-shadow(2px 4px 6px rgb(247 247 247)); */

  /* filter: drop-shadow(2px 10px 18px black); */
}

.Header.Header--public .AppNav .NavItem--Brand .BrandLogo {
  width: var(--nav-item-brand-width);
  height: var(--nav-item-brand-height);
  backface-visibility: hidden;

  filter: var(--nav-brand-drop-shadow);
  perspective: 1000;
  transition-duration: 0.3s;
  transition-property: transform, color, filter;
  transition-timing-function: ease-in-out;
}

.Header.Header--public .AppNav .NavItem--Brand:hover {
  border: 1px solid transparent;
  background-color: unset !important;

  /* color: var(--nav-item-hover-font-color); */
}

.Header.Header--public .AppNav .NavItem--Brand:hover .BrandLogo {
  backface-visibility: hidden;
  background-color: unset !important;
  color: whitesmoke;

  filter: var(--nav-brand-hover-drop-shadow);

  /* color: white; */
  perspective: 1000;
  transform: scale(1.03);
}

.Header.Header--public .AppNav .NavItem--ToggleNavBtn {
  display: flex;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}

.Header.Header--public .AppNav .NavItem--ToggleNavBtn:hover {
  border: 1px solid #6191af;
  background-color: #82a8c0;
  color: #fff;
  font-size: 200%;
}

.Header.Header--public .AppNav .NavItem--LoginBtn {
  display: none;
  border: 1px solid #466a81;

  background-color: #517a95;

  /* background-color: ##9773a7; */

  text-shadow: var(--nav-login-btn-text-shadow);
}

.Header.Header--public .AppNav .NavItem--LoginBtn:hover {
  /* border: 1px solid #80baee;
  border: 1px solid #16878c; */

  /* border: 1px solid #466a81; */
  border: 1px solid #16878c;
  background-color: #466a81;
  color: #fff;

  /* text-shadow: 2px 4px 6px #1b2932; */
  text-shadow: var(--nav-login-btn-hover-text-shadow);
}

.Header.Header--public .AppNav .NavItem--SignUpBtn {
  display: none;
  border: 1px solid #9773a7;
  border: 1px solid #16878c;
  background-color: #9773a7;
  text-shadow: var(--nav-signup-btn-text-shadow);

  /* background-color: #7393a7; */
}

.Header.Header--public .AppNav .NavItem--SignUpBtn:hover {
  border: 1px solid #774090;
  border: 1px solid #77458d;
  background-color: #77458d;
  text-shadow: var(--nav-signup-btn-hover-text-shadow);
}

.Header.Header--public .AppNav .NavItem--Link {
  padding: var(--nav-item-link-padding);

  background-color: #7393a7;
}

.Header.Header--public .AppNav .NavItem--Link:hover {
  border: 1px solid var(--nav-item-bg-color);
  background-color: var(--nav-item-bg-color);
}

.Header.Header--public .AppNav .NavItem .NavItem__Icon {
  /* color: whitesmoke;
  font-size: 1.5rem;
  transition: all 0.3s ease-in; */

  backface-visibility: hidden;
  color: whitesmoke;

  /* font-size: 1.5rem; */
  font-size: 30px;
  perspective: 1000;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-in;
}

.Header.Header--public .AppNav .NavItem .NavItem__Icon.toggleNavIcon {
  font-size: 25px;
}

.Header.Header--public .AppNav .NavItem .NavItem__Icon:hover {
  backface-visibility: hidden;
  perspective: 1000;
  transform: scale(1.1);
}

.Header.Header--public .AppNav .NavItem:hover .NavItem__Icon {
  backface-visibility: hidden;
  color: white;
  perspective: 1000;
  transform: scale(1.1);
}

.Header.Header--public .AppNav .NavItem--Btn {
  width: max-content;
  padding: var(--nav-item-btn-padding);
}

.Header.Header--public .AppNav .NavItem--BtnIconOnly {
  padding: 0.3rem;
}

.Header.Header--public .AppNav .NavItem .NavItem__Caption {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: var(--nav-item-caption-line-height);
}

/* FYI: Holds signup + login-btns on tiny screens */
.Header.Header--public .AppNav.toggled .AppNav__Center .NavBtnGroup.CtoBtns {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
}

.Header.Header--public
  .AppNav.toggled
  .AppNav__Center
  .NavBtnGroup.CtoBtns
  .NavItem--Btn {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0.75rem 1.25rem;
}

.Header.Header--public .NavOverlay {
  position: fixed;
  z-index: 3;
  top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 25%);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.Header.Header--public .AppNav.toggled + .NavOverlay {
  opacity: 1;
  visibility: visible;
}

@media all and (min-width: 800px) {
  .Header.Header--public .AppNav .NavItem--ToggleNavBtn {
    display: none;
  }

  /* .Header.Header--public {
    height: 75px;
  } */

  .Header.Header--public .AppNav .AppNav__Center {
    position: inherit;
    z-index: 10;
    top: 80px;
    left: 50%;
    display: flex;

    flex-direction: row;

    align-items: center;
    padding: 0;

    margin: 0;
    background-color: inherit;
    border-radius: 0;
    opacity: 1;
    visibility: visible;
  }

  .Header.Header--public .AppNav .AppNav__Center .NavItem {
    justify-content: flex-start;

    padding: var(--nav-item-center-padding);
  }

  /* FYI: Holds signup + login-btns on tiny screens in drop down hamburger menu  */
  .Header.Header--public .AppNav.toggled .AppNav__Center .NavBtnGroup.CtoBtns {
    display: none;
  }

  /* FYI: Holds signup + login-btns on larger screens in app nav bar right  */
  .Header.Header--public .AppNav .AppNav__Right .NavItem--LoginBtn,
  .Header.Header--public .AppNav .AppNav__Right .NavItem--SignUpBtn {
    display: flex;
  }
}
