.HeroCarousel {
}
.HeroCarousel .carousel.carousel-slider:hover .slide .legend {
  opacity: 0.5;
}

.HeroCarousel .slide {
  /* max-height: 87vh; */
  /* background: yellow; */
}

.HeroCarousel .slide img {
  width: 100%;
  height: 87vh;
  height: 84vh;
  object-fit: cover;
}

.HeroCarousel .slide .legend {
  background-blend-mode: unset;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: 13px;
}
.HeroCarousel .slide .legend:hover {
}
