main.CommunityLayout
  .CommunitySidebar--collapsed
  .SidebarContent
  ol.CommunityGroupsList {
  font-size: 1rem;
  line-height: 2.25;
}
main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList {
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  background-color: #e8ecf1;
  border-radius: 8px;
  border: 1px solid #95b3c6;

  border-top: 10px solid #7393a7;
  border-top: 10px solid #93b5c6;

  /* border: 1px solid #95b3c6; */
  /* border-top: 5px solid #95b3c6; */

  line-height: 1.5;
}

main.CommunityLayout
  .CommunitySidebar
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}

main.CommunityLayout
  .CommunitySidebar
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item--current {
  font-weight: bold;
  color: #5d7889;
}

main.CommunityLayout
  .CommunitySidebar--collapsed
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.25rem;
  background-color: #e8ecf1;
  border-radius: 6px;
  border: 2px solid #95b3c6;
}

main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  border: 1px solid transparent;
}

main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item:hover {
  border: 1px solid #94b3c6;
  background-color: #dee6f1;
  color: #385b72;
}

main.CommunityLayout
  .CommunitySidebar--collapsed
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item--current {
  font-weight: bold;
  border: 2px solid #7393a7;
  background-color: #dee6f1;
}

main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item--current {
  font-weight: bold;
  border: 1px solid #94b3c6;
  background-color: #dee6f1;
}

main.CommunityLayout
  .CommunitySidebar
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList--Header {
  display: flex;
  justify-content: flex-start;
}

main.CommunityLayout
  .CommunitySidebar--collapsed
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList--Header {
  /* display: none; */

  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList--Header {
  width: 100%;
  padding: 0.25rem 0.5rem;
  /* border-bottom: 1px dotted #556e7e; */
  gap: 0.5rem;

  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  visibility: visible;
  opacity: 1;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList--Header:before {
  visibility: visible;
  opacity: 1;

  height: auto;

  content: "";
  position: absolute;
  /* left: 0.5rem; */
  /* bottom: -0.2rem; */
  bottom: -0.5rem;
  height: 1px;
  width: 33%;
  border-bottom: 3px solid #a3b9c7;
}

main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList--Header
  .headerGroupIconWrap {
  display: inline-flex;
  align-items: center;
  font-size: 125%;
}
main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList--Header
  .groupTypeName {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  font-variant: all-petite-caps;
}

main.CommunityLayout
  .CommunitySidebar
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item
  .groupName {
  overflow: hidden;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

main.CommunityLayout
  .CommunitySidebar--collapsed
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item
  .groupName {
  width: 2ch;
}

main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item
  .groupName {
  width: auto;
  font-size: 1rem;
  letter-spacing: 1px;
}

main.CommunityLayout
  .CommunitySidebar
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item
  .openGroupIconWrap {
  display: inline-flex;
  align-items: center;
}

main.CommunityLayout
  .CommunitySidebar--collapsed
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item
  .openGroupIconWrap {
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

main.CommunityLayout
  .CommunitySidebar--expanded
  .SidebarContent
  ol.CommunityGroupsList
  li.CommunityGroupsList__Item
  .openGroupIconWrap {
  visibility: visible;
  opacity: 1;
  width: auto;
  height: auto;
}
