*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;

  min-width: var(--body-min-width);

  /* to prevent scrolling of the body - we just want scrolling in the main container  */
  height: 100%;
  color: var(--page-font-color);
  font-family: "News Cycle", sans-serif;
  font-size: var(--r-base-font-size);
  letter-spacing: 3px;
}

p {
  padding: 1em;
  font-size: var(--r-base-font-size);
}

h1 {
  font-size: var(--r-heading-lg);
}

h2 {
  font-size: var(--r-heading-md);
}

h3 {
  font-size: var(--r-heading-sm);
}

:root {
  /* CSS HEX */
  --primary-color: #7393a7; /* #57a2e5; */ /* header */
  --secondary-color: #dae8e6; /* main */
  --tertiary-color: #3b857e; /* footer */
  --quaternary-color: #5d7889; /* main font color */
  --quinary-color: #94b3c6; /* #00c4f1; */ /*  bg nav item */
  --senary-color: #b0c5d3; /* #00c4f1; */ /* hover bg nav item */

  /* quaternary, quinary, senary, septenary, octonary, nonary */

  --header-height-mobile: 75px;
  --page-bg-color: var(--secondary-color);
  --page-font-color: var(--quaternary-color);
  --hover-font-color: #eee;

  /* HEADER */
  --header-bg-color: var(--primary-color);
  --header-font-color: var(--page-font-color);
  --header-border-bottom-color: var(--secondary-color);

  /* MAIN */
  --main-bg-color: var(--secondary-color);
  --main-font-color: var(--page-font-color);

  /* FOOTER */
  --footer-bg-color: var(--tertiary-color);
  --footer-font-color: var(--hover-font-color);

  /* MAIN NAV */
  --nav-item-line-height: 1.3rem;
  --nav-item-caption-line-height: var(--nav-item-line-height);
  --nav-item-brand-width: auto;
  --nav-item-brand-height: 36px;
  --nav-item-link-color: var(--page-font-color);
  --nav-item-bg-color: var(--quinary-color);
  --nav-item-hover-bg-color: var(--senary-color);
  --nav-item-hover-border-color: #6b8fdb;
  --nav-item-hover-font-color: var(--hover-font-color);
  --form-inputs-bg-color: #f5f5f5;
  --form-inputs-color: var(--page-font-color);
  --form-inputs-border-color: #eee;
  --form-inputs-placeholder-color: #9eb1bd;
  --form-inputs-focus-bg-color: #f0f0f0;
  --form-inputs-focus-border-color: #00bcd4;

  /* cards */
  --card-bg-color: #fff;
}
