.Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.Form .FormGroup,
.Form .FormActions {
  display: flex;
  flex-direction: column;
}

.Form .FormGroup .FormGroup__Label {
  font-weight: bold;
  color: lightslategray;
}

.Form .FormGroup .FormGroup__Ctrl {
  all: unset;
  background: var(--form-inputs-bg-color);
  border: 3px solid var(--form-inputs-border-color);
  border-radius: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 5%);
  outline: none;
  color: var(--form-inputs-color);

  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.Form .FormGroup .FormGroup__Ctrl:focus {
  background-color: var(--form-inputs-focus-bg-color);
  border-color: var(--form-inputs-focus-border-color);
}

.Form .FormGroup.FormGroup--invalid .FormGroup__Ctrl {
  border-bottom-color: #fd6358;
  color: #e91818;
}

.FormGroup .FormGroup__ErrorMessage {
  color: #e91818;
  letter-spacing: 1px;
}

.Form .FormGroup .FormActions {
  margin-top: 1rem;
  flex-direction: row;
  justify-content: flex-end;
}
