/* TODO: Move to AppHeader-Component*/

/* .App__header {
  text-align: center;
} */

/* .App__header .App__header_item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--nav-item-bg-color);
  color: var(--nav-item-hover-font-color);
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.App__header .App__header_item--UserAvtar {
  background-color: transparent;
  background-color: transparent;
  border-radius: 50%;
}
.App__header .App__header_item--UserAvtar .menu-trigger {
  padding: 0;
}

.App__header .App__header_item:hover {
  background-color: var(--nav-item-hover-bg-color);
  color: var(--nav-item-hover-font-color);
  border: 1px solid #80baee;
}

.App__header .App__header_item .itemIcon {
  color: whitesmoke;
  transition: all 0.3s ease-in;
}

.App__header .App__header_item:hover .itemIcon {
  color: white;
  transform: scale(1.1);
}

.App__header .App__header_item a {
  display: flex;
  padding: 0.3rem;
} */
