@media all and (min-width: 400px) {
}

@media all and (min-width: 600px) {
  /* footer nav ul li a i {
    margin-right: 0.5rem;
  }
  footer nav ul li a span {
    display: inline-block;
  } */
}

@media all and (min-width: 800px) {
  /* header {
    justify-content: space-between;
  } */
}

@media all and (min-width: 900px) {
}

@media all and (min-width: 1100px) {
}

:root {
  /* CSS PROPERTIES TO CONTROL RESPONSIVENESS  */

  --xxsm: 399px; /* max-width:  399px */
  --xsm: 400px; /* min-width:  400px */
  --sm: 576px; /* min-width:  576px */
  --md: 768px; /* min-width:  768px */
  --lg: 992px; /* min-width:  992px */
  --xl: 1024px; /* min-width:  1024px */
  --xxl: 1200px; /* min-width:  1200px */
  --hd: 1400px; /* min-width:  1400px */

  --r-pd: 1rem; /* padding */

  /* responsive font sizes */
  --r-font-size-sm: 0.75rem; /* font-size-sm */
  --r-font-size-md: 1rem; /* font-size-md */
  --r-font-size-lg: 1.5rem; /* font-size-lg */

  /* reponsive spacings for padding inside and margin between containers */
  --r-spacing-sm: 1rem; /* small spacing */
  --r-spacing-md: 1.5rem; /* medium spacing */
  --r-spacing-lg: 2rem; /* large spacing */

  --multiplier: 1;
}

/* max-width 399px */
@media all and (max-width: var(--xxsm)) {
  :root {
    --multiplier: 0.5;
  }
}

/* min-width:  400px */
@media all and (min-width: var(--xsm)) {
  :root {
    --multiplier: 0.75;
  }

  /* hidden from small upwards */
  .sm-hidden {
    display: none;
  }

  .sm-visible {
    display: none;
  }
}

/* min-width:  576px */
@media all and (min-width: var(--sm)) {
  :root {
    --multiplier: 1;
  }

  /* hidden from medium upwards */
  .md-hidden {
    display: none;
  }
}

/* min-width:  768px */
@media all and (min-width: var(--md)) {
  :root {
    --multiplier: 1;
  }

  /* hidden from medium upwards */
  .md-hidden {
    display: none;
  }
}

/* min-width:  992px */
@media all and (min-width: var(--lg)) {
  :root {
    --multiplier: 1.25;
  }

  /* hidden from medium upwards */
  .md-hidden {
    display: none;
  }
}

/* min-width:  1024px */
@media all and (min-width: var(--xl)) {
  :root {
    --multiplier: 1.5;
  }

  /* hidden from medium upwards */
  .md-hidden {
    display: none;
  }
}

/* min-width:  1200px */
@media all and (min-width: var(--xxl)) {
  :root {
    --multiplier: 1.75;
  }

  /* hidden from medium upwards */
  .md-hidden {
    display: none;
  }
}

/* min-width:  1400px */
@media all and (min-width: var(--hd)) {
  :root {
    --multiplier: 2;
  }

  /* hidden from medium upwards */
  .md-hidden {
    display: none;
  }
}

:root {
  /* CSS PROPERTIES TO CONTROL RESPONSIVENESS  */

  --r-pd: calc(1rem * var(--multiplier)); /* padding */

  /* responsive font sizes */
  --r-font-size-sm: calc(0.75rem * var(--multiplier)); /* font-size-sm */
  --r-font-size-md: calc(1rem * var(--multiplier)); /* font-size-md */
  --r-font-size-lg: calc(1.5rem * var(--multiplier)); /* font-size-lg */

  /* reponsive spacings for padding inside and margin between containers */
  --r-spacing-sm: calc(1rem * var(--multiplier)); /* small spacing */
  --r-spacing-md: calc(1.5rem * var(--multiplier)); /* medium spacing */
  --r-spacing-lg: calc(2rem * var(--multiplier)); /* large spacing */
}
