form.NewMessageForm {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 1rem;
  flex: 0 0 100px;
  align-items: stretch;
  justify-content: flex-end;
}

form.NewMessageForm input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  all: unset;
  background: var(--form-inputs-bg-color);
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 5%);
  outline: none;
  color: var(--form-inputs-color);
  /* color: inherit; */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  flex: auto;
  border: 2px solid #93b5c6;
}

form.NewMessageForm input:focus {
  border: 2px solid #7393a7;
}
