form.NewMessageForm {
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  padding: 1rem;

  gap: 1rem;
}

form.NewMessageForm input {
  all: unset;
  display: flex;
  width: 100%;
  flex: auto;
  padding: 0.5rem;

  /* color: inherit; */
  padding: 0.5rem 1rem;
  border: 2px solid #93b5c6;
  background: var(--form-inputs-bg-color);
  border-radius: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 5%);
  color: var(--form-inputs-color);
  font-family: inherit;
  font-size: 1rem;
  font-size: inherit;
  outline: none;
}

form.NewMessageForm input:focus {
  border: 2px solid #7393a7;
}
